./案例数据/FoodMart/FoodMart.mdb
./案例数据/TPC-DS/inventory.dat
./案例数据/TPC-DS/catalog_sales.dat
./案例数据/TPC-DS/web_sales.dat
./案例数据/TPC-DS/store_sales.dat
./.git/objects/5e/2cd02e05d54ba088455310586a553f6e8916ce
./.git/objects/cb/661f4e102df598a21bf957d20c4f7a25dd4331
